<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput placeholder="Name"/>
   </mat-form-field>
   
    <mat-form-field appearance="outline">
    <mat-label>Product Category</mat-label>
    <mat-select placeholder="Category">
      <mat-option value="Bulk">Bulk</mat-option>
      <mat-option value="Medium Dish">Medium Dish</mat-option>
      <mat-option value="Small dishes">Small Dish</mat-option>
   </mat-select>
  </mat-form-field>
</div>